[submodule "option"]
	path = option
	url = https://github.com/mojila/meleak-option.git
	branch = master
[submodule "panel"]
	path = panel
	url = https://github.com/mojila/meleak-panel.git
	branch = master
[submodule "popup"]
	path = popup
	url = https://github.com/mojila/meleak-popup.git
	branch = master
